* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.read-the-docs {
  color: #888;
}

.loader-container {
  width: 100%;
  height: 100vh;
  position: absolute;  
  top: 0;
  left: 0;
  background-color: var(--bs-dark);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: repeating-conic-gradient(#000 0 90deg,#ccc 0 180deg);
  animation: l21 1s infinite linear;
}
@keyframes l21 {
  100% {transform: rotate(.5turn)}
}
